body{
  background: #ddd;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

a{
  color: #3b97ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color:#001bff
}

a:hover{
  color: #1ea9ff;
  text-decoration: underline;
}

table {
  margin: 42px auto 0px auto;
  border: 1px solid #CCC;
  background: white;
  border-radius: 7px;
  padding: 25px;
  min-width: 800px;
  
  -webkit-box-shadow:  0px 3px 10px 0px rgba(23, 23, 23, 0.4);
  box-shadow:  0px 3px 10px 0px rgba(23, 23, 23, 0.4);
}

td {
  padding: 5px;
  min-width: 90px;
}

textarea{
  min-height: 550px;
  width: 99%;
  font-size: large;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

.osf_time {
  font-weight: bolder;
  display: list-item;
}

.osf_text {
  margin: 5px 5px 0px 15px;
  display: list-item;
  list-style: none;
}

.osf_tags {
  margin: 0px 5px 10px 15px;
  display: list-item;
  list-style: none;
}

.osf_urls {
  margin: 0px 5px 30px 15px;
  display: list-item;
  list-style: none;
}

#info{
  margin: 45px auto 15px auto;
  width: 550px;
}

