[submodule "baf"]
	path = baf
	url = https://SimonWaldherr@github.com/SimonWaldherr/buttons-and-forms.git
[submodule "reqwest"]
	path = reqwest
	url = https://SimonWaldherr@github.com/SimonWaldherr/reqwest.git
[submodule "wp-osf-shownotes"]
	path = wp-osf-shownotes
	url = https://github.com/SimonWaldherr/wp-osf-shownotes.git
