body{
  background: #ddd;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

a{
  color: #3b97ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color:#001bff
}

a:hover{
  color: #1ea9ff;
  text-decoration: underline;
}

table {
  margin: 35px auto 0px auto;
  border: 1px solid #CCC;
  background: white;
  border-radius: 7px;
  padding: 25px;
  
  -webkit-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

td {
  padding: 5px;
  min-width: 90px;
}

textarea{
  min-height: 550px;
  width: 99%;
  font-size: large;
  font-family: Menlo, Consolas, Monaco, "Lucida Console", monospace;
}

.osf_time {
  font-weight: bolder;
  display: list-item;
}

.osf_text {
  margin: 5px 5px 0px 15px;
  display: list-item;
  list-style: none;
}

.osf_tags {
  margin: 0px 5px 10px 15px;
  display: list-item;
  list-style: none;
}

.osf_urls {
  margin: 0px 5px 30px 15px;
  display: list-item;
  list-style: none;
}

#info{
  margin: 45px auto 15px auto;
  width: 550px;
}

.anycaststyle{
  width: 750px;
  margin: auto;
}

dl {
  width: 540px;
  padding-bottom: 10px;
  float: left;
  padding: 40px 80px 30px 120px;
  background: #FEFEFE;
  border-radius: 55px;
}

dd a, dd a:hover, dd a:visited{
  color: #B20000;
  text-decoration: none;
  font-weight: normal;
}

dt {
  font: 16px/24px Aller, Helmet, Freesans, sans-serif;
  color: #BABABA;
  width: 80px;
  margin-left: -80px;
  float: left;
  cursor: pointer;
}

dd {
  padding-bottom: 6px;
  font: 14px/20px Aller, Helmet, Freesans, sans-serif;
}

dd strong {
  display: inline-block;
  font: bold 16px/24px Aller, Helmet, Freesans, sans-serif;
}

dd strong a, dd strong a:hover, dd strong a:visited{
  font-weight: bold;
}
