body{
  background: #ddd;
}

a{
  color: #3b97ff;
  font-weight: bold;
  text-decoration: none;
}

a:visited{
  color: #2873ff;
}

table {
  margin: 35px auto 0px auto;
  border: 1px solid #CCC;
  background: white;
  border-radius: 7px;
  padding: 25px;
  
  -webkit-box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.4);
  box-shadow:  0px 3px 10px 0px rgba(0, 0, 0, 0.4);
}

td {
  padding: 5px;
  min-width: 90px;
}

textarea{
  min-height: 500px;
  width: 99%;
}

.osf_time {
  font-weight: bolder;
  display: list-item;
}

.osf_text {
  margin: 5px 5px 0px 15px;
  display: list-item;
  list-style: none;
}

.osf_tags {
  margin: 0px 5px 10px 15px;
  display: list-item;
  list-style: none;
}

.osf_urls {
  margin: 0px 5px 30px 15px;
  display: list-item;
  list-style: none;
}